* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
}

main {
	padding: 1em 2em;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

form#info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5em;
}

form#info label > * {
	vertical-align: top;
}

form#info .error {
	outline: 1px solid red;
}

#partitions {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 16px;
	width: 320px;
	border: 1px solid black;
	border-radius: 0.25em;
	background-color: silver;
}
#partitions > * {
	height: 16px;
	font: 12px monospace;
	text-align: center;
	overflow: hidden;
}
/* https://www.etsy.com/listing/4507981599/sweet-pink-color-palette-for-playful */
#partitions #header-bits    { background-color: #FF9923; }
#partitions #data-bits      { background-color: #FFEF44; }
#partitions #suffix-bits    { background-color: #AAFF32; }
#partitions #null-bits      { background-color: #32BBFF; }
#partitions #padding-bits   { background-color: #CC44FF; } 
#partitions #ec-bits        { background-color: #FF55AB; }
#partitions #remainder-bits { background-color: #F5EEFE; }

svg#qrcode {
	--fill: transparent;
	width: calc(min(95vw, 100vh));
	height: calc(min(95vw, 100vh));
	background-color: white;
}
svg#qrcode rect {
	fill: var(--fill);
	stroke: var(--fill);
}
svg#qrcode .white { --fill: white; }
svg#qrcode .black { --fill: black; }
svg#qrcode .reserved { --fill: brown; }

svg#qrcode .empty {
	--fill: #977D6C;  /* lightsalmon */
	cursor: pointer;
}
svg#qrcode .empty.odd { --fill: #D3C9BB; }  /* coral */
